.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: solid;
  border-radius: 1px;
  border-color: gray;
  margin: 0.3rem;
}

.container * {
  padding: 0.3rem;
  margin: 0.6rem;
}

button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

button.selected {
  background-color: green;
  color: whitesmoke;
  cursor: not-allowed;
}

.product-img {
  height: 15vh;
}
